<!DOCTYPE html>
<html>

<head>
    <title>Archive</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@900&family=Rochester&family=Saira+Stencil+One&display=swap"
        rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/blog.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    {{> navbar}} <!-- navbar partial -->

    <section class="hero is-info is-medium is-bold">
        <div class="hero-body has-text-centered">
            <video autoplay loop muted playsinline class="background-video">
                <source src="videos/glitch.mp4" type="video/mp4">
            </video>
        </div>
    </section>

    <section class="articles">
        {{#each years}}

        <div class="column is-8 is-offset-2">

            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="title">{{year}}</div>

                    <div class="media">

                        <div class="media-content has-text-centered">

                            {{#each articles}}
                            <article>
                                <div class="title_box">
                                    <a href="w/{{URL}}">

                                        <div class="title">{{Title}}</div>
                                    </a>

                                    <div class="date"><time datetime={{Date}}>{{humandate}}</time></div>
                                </div>
                                <div class="tldr">{{TLDR}}</div>

                                <div class="has-text-centered">
                                    {{#each Tags}}
                                    <a href="/tags/{{this}}/" class="tag">{{this}}</a>
                                    {{/each}}

                            </article>


                            {{/each}}

                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}

        </div>

    </section>
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
</body>

</html>